@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: #333333;
  font-family: 'Roboto', sans-serif;
}

.page-title {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Pacifico', cursive;
  color: #f3f3f3;
  font-weight: lighter;
  font-size: 3rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.features__card {
  width: 18vw;
  height: 18vw;
  margin: auto;
  margin: 1rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: 0 0 10px 5px #2a2a2a;
          box-shadow: 0 0 10px 5px #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  text-align: center;
}

.features__card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.features__card:hover {
  width: 23vw;
}

.features__card:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.features__card--heading {
  color: #f3f3f3;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.features__card:hover .features__card--heading {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.features__card--heading::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f3f3f3;
}

.features__card--heading::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f3f3f3;
}

.features__card--image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features__card--title {
  color: #8cf5ca;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.features__card--description {
  color: #f3f3f3;
  font-weight: 300;
  font-size: 1rem;
  width: 25ch;
}

.features__card--title, .features__card--description {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  margin-top: 10px;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.features__card:hover .features__card--title, .features__card:hover .features__card--description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.features__card * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 800px) {
  .features {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features__card {
    width: 80vw;
    height: 80vw;
  }
  .features__card:hover {
    width: 90vw;
  }
}
/*# sourceMappingURL=style.css.map */